:root {
  --link-hover-color: #cccccc;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.navbar {
  padding: 12px 24px;
  color: white;
  background-color: tomato;
  border-radius: 6px;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

ul.navbar-start {
  display: inline-block;
  width: 69%;
}

ul.navbar-end {
  display: inline-block;
  width: 30%;
  text-align: end;
}

li.navbar-item {
  display: inline;
  font-size: 16px;
  margin-right: 10px;
}

a.navbar-link {
  text-decoration: none;
  color: inherit;
}

a.navbar-link:hover {
  color: var(--link-hover-color);
}

h1.page-title {
  margin: 25px 50px 25px 50px;
  text-align: center;
  text-transform: capitalize;
}

article.post-card {
  margin: 24px;
  padding: 8px 24px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

article.post-card > div.post-header {
  margin: 24px 0;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

article.post-card > div.post-header > h2.post-title {
  display: inline-block;
  margin: 0;
  width: 69%;
}

article.post-card > div.post-header > span.post-date {
  display: inline-block;
  margin: 0;
  width: 30%;
  text-align: end;
}

article.post-card > div.post-content {
  margin: 0;
}

article.post-card > div.post-content > p {
  margin-top: 0;
}

article.post-card > div.post-footer {
  text-align: end;
}

article.post-card > div.footer > a {
  display: inline-block;
}

a.button {
  padding: 10px 12px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  border-radius: 3px;
  background-color: #62727b;
  display: inline-block;
}

a:hover.button,
a:active.button {
  background-color: #37474f;
}

a:link.blue,
a:visited.blue {
  color: white;
  background-color: #31a9f3;
}
