/*
    CSS Links
        styled differently depending on what state they are in
        states:
            - a:link - a normal, unvisited link
            - a:visited - a link the user has visited
            - a:hover - a link when the user mouses over it
            - a:active - a link the moment it is clicked
        order rules:
            - a:hover MUST come after a:link and a:visited
            - a:active MUST come after a:hover
*/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
}

div {
  padding: 25px;
  text-align: center;
}

a {
  padding: 9px 12px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

a:link.button,
a:visited.button {
  color: white;
  border-radius: 3px;
  background-color: #62727b;
  display: inline-block;
}

a:hover.button,
a:active.button {
  background-color: #37474f;
}


a:link.blue,
a:visited.blue {
  color: white;
  background-color: #31a9f3;
}

a:hover.blue,
a:active.blue {
  color: white;
  background-color: #007ac0;
}

a:link.red,
a:visited.red {
  color: white;
  background-color: #ff1b1a;
}

a:hover.red,
a:active.red {
  color: white;
  background-color: #c30000;
}

a:link.orange,
a:visited.orange {
  color: white;
  background-color: #fc8035;
}

a:hover.orange,
a:active.orange {
  color: white;
  background-color: #e5543c;
}
