/*
     CSS Text Effect
        - text-overflow: 
            - specifies how overflowed content that is not displayed should be signaled to the user
            - usage:
                - text-overflow: clip; 
                - text-overflow: ellipsis;
        - word-wrap: 
            - allows long words to be able to be broken and wrap onto the next line
            - usage:
                - word-wrap: break-word;
        - word-break:
            - property specifies line breaking rules
            - usage:
                - word-break: keep-all;
                - word-break: break-all;
        - writing mode:
            - specifies whether lines of text are laid out horizontally or vertically
            - usage:
                - writing-mode: [mode]
                - modes:  
                    * horizontal-tb (top to bottom)
                    * vertical-rl (right to left)
                    * vertical-rl
*/

html,
body {
  margin: 0;
  padding: 0;
}

p.secret-text {
  margin: 15px auto;
  width: 150px;
  color: transparent;
  background-color: black;
  word-break: break-all;
}

p.secret-text:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

p.secret-text:not(:hover)::selection {
  background-color: none;
}

p.announcement {
  text-align: center;
  font-size: 52px;
}

span {
  writing-mode: vertical-lr;
}
