/*
     CSS Web Fonts
        - @font-face:
            1 - font-family: refer to the name of the font
            2 - src: refer to path of the font
                * Always use lowercase letters for the font path
            
*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: 900;
  src: url("fonts/roboto-900.woff") format("woff");
}

h1 {
  font-family: "Roboto Bold";
  text-align: center;
  font-size: 32px;
}

p {
    font-family: "Roboto";
    font-size: 16px;
    padding: 0 32px;
}
