* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.input-area {
  padding: 1px 0 24px 0;
  background-color: tomato;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 16px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.column {
  float: left;
  width: 25%;
  padding: 8px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

div.card {
  overflow: hidden;
  background-color: gainsboro;
  border-radius: 6px;
}

h2.card-title {
  margin: 12px 12px 6px 12px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
}

p.card-content {
  margin: 6px 12px 12px 12px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

textarea {
  display: block;
  resize: none;
  margin: auto;
  margin-bottom: 24px;
  border: none;
  outline: none;
  padding: 12px;
  width: 50%;
  height: 250px;
  font-size: 16px;
}

input[type="text"] {
  display: inline-block;
  border: none;
  outline: none;
  padding: 12px;
  width: 45%;
  font-size: 16px;
}

button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 12px;
  width: 5%;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: gainsboro;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
