/*
    CSS Pseudo Element
        - used to style specified parts of an element
        - syntax: 
            - selector::pseudo-element {
            -   property: value;
            - }
        - ::first-line:
            - used to add a special style to the first line of a text
        - ::first-letter:
            - used to add a special style to the first letter of a text
        - ::before:
            - used to insert some content before the content of an element
        - ::after:
            - used to insert some content after the content of an element
        - ::selection:
            - matches the portion of an element that is selected by a user

*/

div.book {
    padding: 24px;
}

div.book > p {
    text-indent: 25px;
}

div.book > p::first-letter {
    font-weight: 900;
    font-size: xx-large;
}