/*
    CSS Fonts
        font-family: 
            - property to specify the font of a text
            - If the font name is more than one word,
                it must be in quotation marks, like: "Times New Roman"
        web safe fonts:
            - universally installed across all browsers and devices
            ! Should add a list of similar "backup fonts" in the font-family 
            !     property. If the first font does not work, the browser will 
            !     try the next one, and the next one, and so on.
            !     Always end the list with a generic font family name.
            - best safe fonts
            * Arial (sans-serif)
            * Verdana (sans-serif)
            * Helvetica (sans-serif)
            * Tahoma (sans-serif)
            * Trebuchet MS (sans-serif)
            * Times New Roman (serif)
            * Georgia (serif)
            * Garamond (serif)
            * Courier New (monospace)
            * Brush Script MT (cursive)
        font-style:
            - specifies the style of the font
                - options
                    normal
                    italic
                    oblique (The text is "leaning")
        font-weight:
            - specifies the weight of a font
        font-variant:
            - property specifies whether or not 
                a text should be displayed in a small-caps font
        font-size: 
            - property sets the size of the text
            - font size types:
                - pixel: text size with pixels
                - em: allow users to resize the text
                     1em is 16px so pixels/16 = em
                - vw: text size will follow the size of the browser
        font:
            - property is a shorthand property for
                * font-style
                * font-variant
                * font-weight
                * font-size/line-height
                * font-family
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.box {
  width: 100%;
  display: table;
}

h1 {
  display: table-cell;
  font: normal normal 900 60px sans-serif;
  text-align: center;
  vertical-align: middle;
}
