/*
     CSS 2D Transforms
      - allow you to move, rotate, scale, and skew elements
      - Transform Methods
*/

div {
  padding: 32px;
  width: 350px;
  height: 150px;
}

/*
    * translate()
    - method moves an element from its current position
*/
div.move-fifty-pixel {
  background-color: yellow;
  margin-bottom: 150px;
  transform: translate(50px, 50px);
}

/*
    * rotate()
      - rotates an element clockwise or counter-clockwise according to a given degree
*/
div.rotate-twenty-degree {
  background-color: tomato;
  margin-bottom: 200px;
  transform: rotate(20deg);
}

/*
    * scale()
      - increases or decreases the size of an element
*/
div.increases-element-size-2-times {
  background-color: red;
  margin-bottom: 150px;
  transform: scale(2, 2);
}

/*
    * scaleX() and scaleY()
      - scaleX - method increases or decreases the width of an element
      - scaleY - method increases or decreases the height of an element.
*/
div.increases-element-width-2-times {
  background-color: aquamarine;
  margin-bottom: 150px;
  transform: scaleX(2);
}

div.increases-element-height-2-times {
  background-color: blue;
  margin-bottom: 150px;
  transform: scaleY(2);
}

/*
    * skewX() and skewY() and shorthand
      - skewX - method skews an element along the X-axis by the given angle
      - skewY - method skews an element along the Y-axis by the given angle
      - shorthand a.k.a skew
*/
div.skew-element-twenty-degree-x {
  background-color: chocolate;
  margin-bottom: 150px;
  transform: skewX(20deg);
}


div.skew-element-twenty-degree-y {
  background-color: blueviolet;
  margin-bottom: 150px;
  transform: skewY(20deg);
}

/*
    * matrix()
      - method combines all the 2D transform methods into one
      - matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())
*/
div.matrix {
  margin-bottom: 150px;
  background-color: coral;
  transform: matrix(2, 0.2, 0.5, 1, 350, 16);
}