/*
    CSS Attribute Selectors
        - used to select elements with a specified attribute
        - syntax: 
            - selector::[attribute] {
            -   property: value;
            - }
        - [attribute="value"]:
            - used to select elements with a specified attribute and value
        - [attribute~="value"]:
            - used to select elements with an attribute value containing a specified word
        - [attribute|="value"]:
            - used to select elements with the specified attribute starting with the specified value
            - note: like class="top", or followed by a hyphen( - ), like class="top-text"
        - [attribute^="value"]:
            - used to select elements whose attribute value begins with a specified value
            - the value does not have to be a whole word! 
        - [attribute$="value"]:
            - used to select elements whose attribute value ends with a specified value
            - the value does not have to be a whole word!  
        - [attribute*="value"]:
            - used to select elements whose attribute value contains a specified value
            - the value does not have to be a whole word!  
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
  padding: 16px;
  width: 50%;
  background-color: gainsboro;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px;
  border: none;
  padding: 8px;
  text-indent: 6px;
  outline: none;
}

select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px;
  border: none;
  padding: 8px;
  background-color: white;
  outline: none;
}

input[type="button"] {
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: tomato;
  color: white;
  outline: none;
}

input[type="button"]:hover {
  cursor: pointer;
} 