/*
    CSS Grid View
        - means that the page is divided into columns
        - has 12 columns
        - has a total width of 100%, 
            and will shrink and expand as you resize the browser window
*/

/*
    ! building responsive grid-view
        1 - box-sizing: 
            must be border-box 
        2 - calculate one column percentage
            100% / 12 = 8.33%;
        3 - create css class with col-[column number] prefix 
*/

:root {
  --header-primary-color: #9933cc;
  --sidebar-primary-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

div.header {
  background-color: var(--header-primary-color);
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 54px 0;
}

div.sidebar > ul > li > a {
  display: block;
  padding: 8px 16px;
  background-color: var(--header-primary-color);
  color: white;
  border-radius: 4px;
  box-shadow: 0 6px 4px 0 rgba(10, 10, 10, 0.4);
}

div.sidebar > ul > li > a:hover {
  box-shadow: 0 4px 4px 0 rgba(10, 10, 10, 0.2);
}

div.sidebar > ul > li:not(:last-child) {
  margin-bottom: 6px;
}

h2 {
  margin-bottom: 7px;
}

div.news {
  padding: 15px;
  color: white;
  font-size: 14px;
  background-color: cornflowerblue;
  box-shadow: 0 4px 4px 0 rgba(10, 10, 10, 0.2);
}

/*
    !! media queries
      - It uses the @media rule to include a block 
          of CSS properties only if a certain condition is true
*/

/*
    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
    }
    
    ! If the browser window is 600px or smaller, 
        the background color will be lightblue
*/

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    min-width: 100%;
  }
}

/*
    * always design for mobile first
      - this will make the page display faster on smaller devices
*/

/*
    * typical device breakpoints
      ! for extra small screens(phones)
      - @media only screen and (max-width: 600px) {...}

      ! for small devices (portrait tables and large phones)
      - @media only screen and (min-width: 600px) {...}

      ! for medium devices (landscape tablets)
      - @media only screen and (min-width: 768px) {...}

      ! for large devices (laptops/desktops)
      - @media only screen and (min-width: 992px) {...}

      ! for extra large devices (large laptops and desktops)
      - @media only screen and (min-width: 1200px) {...}
*/

/*
    * orientation portrait / landscape
      - @media only screen and (orientation: landscape) {
      -  body {
      -    background-color: lightblue;
      -  }
      -}

      - will only apply when the browser window is wider than its height
*/

