/*
    CSS Animations
        - animation of HTML elements
*/

span {
  /* for centering text */
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

/*
    @keyframes
        - the animation will gradually change from 
            the current style to the new style at certain times
*/
@keyframes chameleon {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}

/*
    * animation-duration
        - defines how long time an animation should take to complete
*/

div.chameleon {
  margin: auto;
  width: 250px;
  height: 100px;
  text-align: center;
  background-color: red;
  animation-name: chameleon;
  animation-duration: 4s;
}

/*
    * animation-delay
        - specifies a delay for the start of an animation
        - Negative values are also allowed. If using negative values,
            the animation will start as if it had already been playing for N seconds
*/

div.chameleon {
  animation-delay: 2s;
}

/*
    * animation-iteration-count
        - specifies the number of times an animation should run
        - value "infinite" to make the animation continue for ever
*/

div.chameleon {
  animation-iteration-count: infinite;
}

/*
    * animation-direction
        - specifies whether an animation should be played forwards, 
            backwards or in alternate cycles
        - values:
            - normal: forwards direction (default)
            - reverse: reverse direction
            - alternate: forwards first, then backwards
            - alternate-reverse: backwards first, then forwards
*/

/*
    * animation-timing-function
        - same with transition-timing-function
*/

/*
    * animation-fill-mode
        - specifies a style for the target element when 
            the animation is not playing
        - values:
            - none: animation will not apply any styles 
                to the element before or after it is executing
            - forwards: element will retain the style values
                that is set by the last keyframe
            - backwards: element will get the style values 
                that is set by the first keyframe
            - both: animation will follow the rules for both 
                forwards and backwards, extending the animation 
                properties in both directions
*/

/*
    * shorthand
        -  animation(name duration timing-function delay 
            iteration-count direction, ...)
*/

div.nosignal {
  margin: 25px 0;
  position: relative;
  width: 300px;
  height: 150px;
  color: white;
  background-color: black;
  border: 7px solid gray;
  animation-name: nosignal;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes nosignal {
  0% {
    top: 0px;
    left: 0%;
  }
  14% {
    top: 0px;
    left: 38%;
  }
  32% {
    top: 0px;
    left: 72%;
  }
  50% {
    top: 250px;
    left: 72%;
  }
  70% {
    top: 250px;
    left: 38%;
  }
  86% {
    top: 250px;
    left: 0%;
  }
  100% {
    top: 0px;
    left: 0%;
  }
}
