/*
    CSS Grid Items
        - container has one grid item for each column, 
            in each row (default). But can style the 
            grid items so that they will span multiple columns and/or rows
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu footer footer footer footer footer";
  background-color: #2196f3;
  grid-gap: 10px;
  padding: 10px;
}

/*
    * grid-column
        - property defines on which column(s) to place an item
        - shorthand of  grid-column-start and the grid-column-end
*/

.grid-item-header {
  grid-area: header;
  text-align: center;
  padding: 32px;
  font-size: 18px;
  background-color: cadetblue;
}

.grid-item-menu {
  grid-area: menu;
  background-color: blue;
  padding: 18px;
}

/*
    * grid-row
        - property defines on which row to place an item
        - shorthand of  grid-row-start and the grid-row-end
*/

/*
    * grid-area
        -  usage:
            - grid-area: 
                grid-row-start, grid-column-start, 
                grid-row-end, grid-column-end
*/
.grid-item-main {
  grid-area: main;
  background-color: tomato;
  padding: 18px;
}

.grid-item-footer {
  grid-area: footer;
  background-color: darkgray;
  padding: 18px;
}
