/*
    CSS Pseudo Classes
        - used to define a special state of an element
        - syntax:
            - selector:pseudo-class {
            -   property: value;
            - }
            - Note: Link state order should be like this: 
                a:link
                a:visited
                a:hover
                a:active
        * :first-child
             - Select and style every <p> element
                that is the first child of its parent
*/

ul {
    list-style-type: none;
}

li > span {
    text-decoration: none;
}

li > input:checked + span {
    text-decoration: line-through;
}
