/*
    CSS Layout - width and max-width
         if the element would render wider than the max-width says 
         it should be, then the max-width property wins over the 
         width property. But if it would render less than 
         the max-width says, then the width property wins.

         In mathematical:
            - if width > max-width; let the browser use max-width.
            - if width < max-width; let the browser use width.
*/

div.example-on {
  width: 700px;
  margin: auto;
  border: 3px solid tomato;
}

div.example-two {
  max-width: 700px;
  margin: auto;
  border: 3px solid tomato;
}
