/*
    CSS Layout - Overflow
        - overflow: 
            - property controls what happens to content 
                that is too big to fit into an area
            * visible
            * hidden
            * scroll
            * auto

            - visible:
                - default
                - meaning that it is not clipped and it renders outside
            - hidden:
                - overflow is clipped, and the rest of the content is hidden
            - scroll:
                - overflow is clipped and a scrollbar is added 
                    to scroll inside the box
                - add a scrollbar both horizontally and vertically
            - auto:
                - similar to scroll, but it adds 
                    scrollbars only when necessary 
            - overflow-x and overflow-y:
                - properties specifies whether to change the overflow of 
                    content just horizontally or vertically
                - overflow-x:
                    - specifies what to do with the left/right edges of the content
                - overflow-y:
                    - specifies what to do with the top/bottom edges of the content
*/

.read-box {
  height: 250px;
  padding: 0 12px;
  background-color: #dedede;
  border-radius: 2px;
  overflow: auto;
}

.read-box > p {
    text-indent: 30px;
}

.read-box > p::first-letter {
    font-weight: 900;
    font-size: 48px;
}
