/*
    CSS Gradients
        - smooth transitions between two or more specified colors
        - has two types:
            - linear
            - radial
        
        - linear gradients:
            - linear gradient you must define at least two color stops
            - top to bottom (default)
                - background-image: linear-gradient(colors...)
            - left to right
                - background-image: linear-gradient(to right, colors...)
            - diagonal
                - background-image: linear-gradient(to bottom right, colors...)
            - angles
                - background-image: linear-gradient(degree, colors)
        - radial gradients:
            - radial gradient you must also define at least two color stops
            - general usage:
                - background-image: radial-gradient(colors...)
            - shape:
                - background-image: radial-gradient(circle, red, yellow, green)
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to bottom right, #fd5070, #ff9f4d);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.login-form {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 16px 32px;
  width: 45%;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

a:visited,
a:link {
  color: #4796ff;
  text-decoration: none;
  border-bottom: 2px solid #4796ff;
}

input:not([type="checkbox"]) {
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  width: 100%;
  background-color: #f3f4f5;
  transition: background-color 100ms linear;
  border-radius: 8px;
  font-size: 15px;
}

input:not([type="checkbox"]).inline-input {
  display: inline;
  width: 49.3%;
}

input[type="checkbox"] {
  vertical-align: middle;
}

label,
label > a {
  font-size: 14px;
}

input[type="button"] {
  background-color: #4796ff;
  color: #ffffff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  cursor: pointer;
  margin-top: 15px;
}

input[type="button"]:hover {
  opacity: 0.8;
}

input[type="button"]:focus {
  outline: none;
}

input:not([type="button"]):focus {
  background-color: #fff;
  outline: none;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

input[placeholder] {
  font-style: italic;
}

@media screen and (max-width: 600px) {
  div.login-form {
    width: 95%;
  }

  input:not([type="checkbox"]).inline-input {
    display: block;
    width: 100%;
  }
}
