/*
    CSS Height and Width
        - height-width: are used to set the height and width of an element
            - auto: browser calculates the height and width
            - length: defines the height/width in px, cm etc
            - %: percent of the containing block
            - initial: sets the height/width to its default value
            - inherit: height/width will be inherited from its parent value
        - max-width: property is used to set the maximum width of an element
        - 
*/

div {
  border: 5px solid green;
  width: 75%;
  margin: auto;
  height: 50px;
  text-align: center;
}

p {
  border: 5px dotted red;
  height: inherit;
}
