/*
    CSS Layout - Horizontal & Vertical Align
        - margin: auto
            - horizontally center a block element
                - no effect if the width property 
                    is not set (or set to 100%)
        - left and right align
            - position:
                set position absolute and give 
                    right or left attribute to element
            - float:
                just set float right or left then 
                    give element padding or margin
*/

.image-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 25px solid gold;
}
