html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  position: sticky;
  top: 0px;
}

ul.nav {
  list-style-type: none;
  overflow: hidden;
}

ul > li.nav-item {
  float: left;
}

ul > li.last-nav-item {
  float: right;
}

ul.nav > li.nav-item > a.nav-link,
ul.nav > li.last-nav-item > a.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 18px;
}

ul.nav > li.nav-item > a.nav-link.active,
ul.nav > li.last-nav-item > a.nav-link.active {
  background-color: tomato;
}

ul.nav > li.nav-item > a.nav-link:hover:not(.active),
ul.nav > li.last-nav-item > a.nav-link:hover:not(.active){
  background-color: #111;
}

article > p {
    padding: 0 24px;
}