/*
    CSS Transitions
      - allows you to change property values smoothly, over a given duration
      - to create a transition effect, must specify two things:
        - CSS property want to add an effect to
        - the duration of the effect
*/

* {
    margin: auto;
}
div.greeter {
    margin-bottom: 35px;    
    width: 300px;
    height: 75px;
    text-align: center;
    background-color: tomato;
    transition: width 2s, height 2s;
}

div.greeter > span {
    display: none;
    font-size: 28px;
}

div.greeter:hover {
    width: 450px;
    height: 150px;
}

div.greeter:hover > span {
    display: inline;
}

/*
    * transition-timing-function
      - specifies the speed curve of the transition effect
      - values:
        - ease: slow start, then fast, then end slowly (default)
        - linear: same speed from start to end
        - ease-in: slow start
        - ease-out: slow end
        - ease-in-out: slow start and end
        - cubic-bezier(n,n,n,n): define custom values
*/

/*
    * transition-delay
      - specifies a delay (in seconds) for the transition effect
*/

/*
    * shorthand
      - transition(property duration timing-function delay, ...)
*/

div.coolbox {
    width: 150px;
    height: 150px;
    background-color: gold;
    transition: width 2s, height, 2s, transform 2s;
}

div.coolbox:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}