/*
    CSS Grid Container
        1 - set the display property to grid or inline-grid
*/

/*
    * grid-template-columns
        - defines the number of columns in grid layout, 
            and it can define the width of each column
*/

.grid-container {
  display: grid;
  /* 
        - 4 column with auto a.k.a same width 
        - can also be used to specify the width of the columns
    */
  grid-template-columns: auto auto auto auto;
  grid-gap: 18px;
  background-color: aqua;
  padding: 18px;
}

/*
    * grid-template-rows
        - property defines the height of each row
*/

.grid-container {
  grid-template-rows: 120px 200px;
}

/*
    * justify-content
        - property is used to align the whole grid inside the container
*/

/*
    * align-content
        - property is used to vertically align the whole grid inside the container
*/

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: red;
  padding: 16px;
}
