/*
    CSS 3D Transforms
      - allow you to move, rotate, scale, and skew elements bu 3d :)
      - Transform Methods
*/

div {
    margin: 150px;
    padding: 18px;
    background-color: yellow;
}

/*
    * rotateX()
      - method rotates an element around its X-axis at a given degree
*/
div.rotateX {
    transform: rotateX(180deg);
}

/*
    * rotateY()
      - method rotates an element around its Y-axis at a given degree
*/
div.rotateY {
    transform: rotateY(150deg);
}

/*
    * rotateZ()
      - method rotates an element around its Z-axis at a given degree
*/
div.rotateZ {
    transform: rotateZ(270deg);
}