/*
    CSS Variables
        - used to insert the value of a CSS variable
        - variables can have a global or local scope
            - to global scope:
                - declare it inside the ::root selector
            - to local scope:
                - declare it inside the selector that is going to use it
        - syntax:
            - var(name, value)
                * name: (required) variable name
                    - must starts with two dashes
                * value: (optional) fallback value
                    - used if variable not found
*/

:root {
    --background-color: #ddd;
    --primary-btn-color: #1e90ff;
}

html, body {
    background-color: var(--background-color);
}

button {
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    background-color: var(--primary-btn-color);
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

/*
    ! overriding variables & local variables
*/

div.hero {
    --background-color: var(--primary-btn-color);
    --text-color: #fdfdfd;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    margin-top: 8px;
    padding: 60px;
    text-align: center;
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}