/*
    CSS Margins
        - margin: properties are used to create space around elements
            - auto: horizontally center the element within its container
            - inherit: element be inherited from the parent element
        - 
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-container {
  width: 75%;
  margin: auto;
  background-color: tomato;
  border-radius: 6px;
  padding: 1px;
}

h1 {
  color: white;
  text-align: center;
}
