/*
    CSS Media Queries
        - define different style rules for different media types
        - media queries can be used to check many things, such as
            - width and height of the viewport
            - width and height of the device
            - orientation
            - resolution
        - media types
            - all: used for all media type devices
            - print: used for printers
            - screen: Used for computer screens, tablets, smart-phones etc.
            - speech: Used for screenreaders that "reads" the page out loud
*/

/*
    ! media query syntax
        - @media not|only mediatype and (expressions) {
        -   CSS-Code;
        - }
*/

@media screen and (max-width: 480px) {
    div {
        display: none;
    }
}