/*
    CSS Text
        text-color:
            - property is used to set the color of the text
            - W3C recommendation if define the color property, 
                must also define the background-color
        text-align:
            - property is used to set the horizontal alignment
        text-direction:
            - property is used to change the text direction of an element
        vertical-align:
            - property sets the vertical alignment of an element
        text-decoration:
            - property is used to set or remove decorations from text
            - is not recommended to underline text that is not a link
                as this often confuses the reader
        text-transform: 
            - property is used to specify uppercase and lowercase letters
        text-indent:
            -  property is used to specify the indentation of the first line
        !letter-spacing:
            - property is used to specify the space between the characters
        line-height:
            - property is used to specify the space between lines
        word-spacing:
            - property is used to specify the space between the words
        white-space:
            - property specifies how white-space inside an element
        text-shadow:
            - property adds shadow to text
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-transform: uppercase;
  background-color: cornflowerblue;
  text-align: center;
  padding: 14px;
  vertical-align: super;
  letter-spacing: 5px;
}

p.content {
    padding-left: 20px;
    padding-right: 20px;
}

p.footer {
    background-color: tomato;
    color: white;
    text-indent: 20px;
    padding: 14px;
    text-align: end;
  
}
