/*
    CSS Border Images
        - border-image:
            - set an image to be used as the border around an element
            - shorthand of: 
                - border-image-source
                - border-image-slice
                - border-image-width
                - border-image-outset
                - border-image-repeat
*/

.greeter {
  border: 10px solid transparent;
  border-image: url("border.png") 40% round;
  text-align: center;
  font-size: 24px;
}
