/*
    CSS Combinator
        - combinator is relationship between the selectors
        * descendant selector (space)
        * child selector (>)
        * adjacent sibling selector (+)
        * general sibling selector (~)

        - descendant selector
            - matches all elements that are descendants of a specified element
            - usage: 
                - div p {
                -   background-color: yellow;
                - }
        - child selector
            - selects all elements that are the children of a specified element
            - usage:
                - div > p {
                -   background-color: yellow
                - }
        - sibling selector
            - selector is used to select an element that is directly after another specific element
            - sibling elements must have the same parent element
            - usage:
                - div + p {
                -   background-color: yellow
                - }
        - general sibling selector
            - selector selects all elements that are siblings of a specified element
            - usage:
                - div ~ p {
                -   background-color: yellow;
                - }
*/

img {
  display: block;
  margin: auto;
}

img + span {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: gray;
}
