* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.users {
  padding: 24px;
}

ul.users > li.user:not(:last-child) {
  margin-bottom: 16px;
}

li.user {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 6px solid black;
  border-radius: 6px;
  transition: border-bottom 0.2s;
}

li.user:hover {
  border-bottom: 3px solid black;
}

li.user img.avatar {
  max-width: 64px;
  height: auto;
}

li.user > div.information {
  margin-left: 12px;
}

li.user > div.actions {
  margin-left: auto;
}

li.user > div.actions > button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
}

li.user > div.actions > button:hover {
  opacity: 0.8;
  cursor: pointer;
}

li.user > div.actions > button:last-child {
  background-color: #d50000;
  color: white;
}

div.pagination {
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin: 16px 0;
  text-align: center;
  transform: translate(-50%, -50%);
}

div.pagination a {
  margin-right: 6px;
  color: black;
  background-color: gainsboro;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

div.pagination a.active {
  color: white;
  background-color: black;
}

div.pagination a:not(.active):hover {
  opacity: 0.6;
}
