/*
    CSS Box Model
        - used when talking about design and layout.
        - content > padding > border >  margin 
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 25px auto;
  text-align: center;
}

/* Size Calculation
    - Total element width = width 
        + left padding 
        + right padding 
        + left border 
        + right border 
        + left margin 
        + right margin
    
    - Total element height = height 
        + top padding 
        + bottom padding 
        + top border 
        + bottom border 
        + top margin 
        + bottom margin
*/
