/*
    CSS Tooltip
        - tooltip is often used to specify extra information
*/

body{ 
    padding: 50px;
}

.tooltip-container {
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-container .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 5px 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    left: 50%;
    top: 150%;
    margin-left: -60px;
    z-index: 1;
    transition: visibility 500ms, opacity 500ms;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1.0;
}

.tooltip-container .tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}